.funga{
    background-color: black;
}
.wow{
    color:white;
}
.macbookpro{
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size:1100px 800px;
    font-size:60px;
    
   
}